.wscn-container
  width 100%
  height 100%
  background-color #F5F5F5

  .wscn-maintaining, .wscn-freeze
    text-align center
    position relative
    margin-top 10%

  .wscn-maintaining, .wscn-freeze
    p
      color #1B1D26
      margin-top 20px
      font-size 14px