.exchange-dialog
  .dialog-header
    color #000000

  .dialog-body
    color #8E8E8E

    .item
      .value
        .red
          color #E9644E

        .recycl-btn
          color $base-link-btn-color
          border-color #DDDDDD

        .field
          border-color #E1E2E6
          background-color #F6F7F8

    .fast
      .btn
        color #8E8E8E
        border-color #ECEDED

        &.blue
          background-color #6AB2F6
          color #ffffff
          border 0

  .dialog-footer
    border-color #DDDDDD

    .btn
      border 1px solid #6AB2F6
      color #6AB2F6

      &.blue
        background-color $base-main-color