.select-avater
  .top
    span
      color #777777
      &.right
        color #0084FF
    &:after
      border-color #E6E6E6

  .scoller
    .select
      .select-item
        &.active
          background-color  #EFEFEF