.van-tabbar.tabbar
  background-color #FFF
  box-shadow 0 0 8px rgba(0, 0, 0, 0.08)

  .label
    &.active
      color $base-main-color

  .van-tabbar-item__icon
    margin-bottom 1px

  .iconfont
    font-size 30px

    &.active
      color $base-main-color