@import './pages/detail.styl'

.activity
  background-color $base-bg-color

  .container
    .scroller
      .item
        background-color $base-content-bg-color
        .content
          .title
            color $base-font-color
          .desc
            color #8C8C8C