.game-recommend-container
  background-color $base-bg-color
  .game-recommend-header
    .game-recommend-header-scroller
      .game-search-container
        .game-search-cancel
          color $base-text-color-assistant
  .game-recommend-content
    background-color $base-bg-color-content
    .game-item
      .game-logo
        img 
          box-shadow none
      span
        color $base-text-color-content-main

