.game-search-container
  background-color $base-bg-color

  .game-search-header
    background-color $base-bg-color-nav

    .game-search-cancel
      color $base-text-color-assistant

  .game-recommend-container
    background-color $base-bg-color-content
    .game-items
      .game-item
        .game-logo
          .logo
            box-shadow none
        span 
          color $base-text-color-content-main

  .game-search-content
    background-color $base-bg-color-content
    .game-items
      .game-item
        .game-logo
          .logo
            box-shadow none
        span 
          color $base-text-color-content-main
    
