.security-edit
  .container
    background-color $base-bg-color

    .button
      color $base-link-btn-color

    .img
      background-image url('~@/pages/my/pages/security/img/idCard-live.png')

    .submit
      background-color $base-main-color

    .footer
      color #8C8C8C
