.activity
  background-color $base-bg-color

  .container
    .scroller
      .item
        background-color $base-bg-color-content
        .content
          .title
            color $base-text-color-title
          .desc
            color $base-text-color-content-sub

@import './pages/detail/index.styl'