@import './components/online.styl'
@import './components/offline.styl'
@import './components/qrcode.styl'

.recharge-container
  background-color $base-bg-color

  .van-nav-bar
    .van-nav-bar__right
      .van-nav-bar__text
        color $base-disabled-color