.bank-card-container
  .van-nav-bar
    background linear-gradient(135deg,rgba(46,43,51,1) 0%,rgba(9,5,18,1) 100%)

    &.active-bar
      background-color #2E2B33

  .bank-card-main-container
    background $base-bg-color
    .bank-card-item
      background $base-content-bg-color
      color $base-font-color
      border-bottom 1px solid $base-bg-color-divide
      .arrow
        color #CFCFCF

    .bank-card-button-container
      .van-button--primary
        background-color $base-main-color
        border-color $base-main-color

    .bank-card-tips-container
      color $base-disabled-color