.deposit-container
  .header-right
    color $base-link-btn-color
  .deposit-main-container
    background-color $base-bg-color
    .scroller
      .deposit-data-item
        background-color $base-content-bg-color
        .item-label
          color $base-main-font-color
        .item-value
          color #8E8E8E

    .menu-container
      .menu-list
        background-color $base-content-bg-color
        .menu-item
          border-color #666
          color $base-main-font-color
          &.active
            background-color $base-main-color
            color #33312B

        .date-list
          .date-item
            background-color $base-bg-color

            &.active
              color $base-main-color

        .btn-item
          .btn
            border 1px solid $base-main-color

            &.query
              background-color $base-main-color
              color #33312B
            &.cancel
              background none
              color $base-main-color
