.exchange
  .container
    background-color $base-bg-color

    .money
      border-color #3B3B3B
      
      &.van-cell .van-cell__title
        color #666666

    .refrash
      color #F2D68A

    .btn
      color $base-link-btn-color
      border-color #666666

    span.refresh
      border 1px solid $base-main-color
      .fff
        background $base-main-color
