.login
  background $base-bg-color
  color $base-font-color

  .navbar
    background $base-bg-color

  .login-tabs
    .van-tabs__nav
      border-color $base-bg-color
      background transparent 

    .van-tab__pane
      .group-form
        .van-field__button
          button
            color $base-link-btn-color

    .remmber-forget
      .van-checkbox
        .van-checkbox__icon
          .icon-hc-tick
            &.normal
              color  #BBBBBB

            &.active
              color #F2D68A

    .remmber-forget, .register
      color #EEEEEE

  .freeplay-register
    color #EEEEEE

    span
      &:nth-child(2)
        color $base-link-btn-color

  .steam-login
    span
      color #666666