.sales-container
  background $base-bg-color
  .sales-main-container
    .custom-date-container
      .custom-date-query button
        color $base-main-color
        border 1px solid $base-main-color
    .sales-data-container
      .sales-data-list
        .sales-data-item
          background $base-content-bg-color
          color $base-main-font-color
          &:not(:last-child)
            border-color $base-bg-color-divide