.withdrawal
  background $base-bg-color
  color $base-font-color

  .container
    .pre-withdrawal
      .group1
        .van-cell:not(:last-child)::after
          border none
        .amount-input
          background $base-bg-color
          border 1px solid $base-bg-color-divide
        .available-amount
          div
            .no-fee-times
              color $base-disabled-color
            .van-button
              color $base-main-color
              background none
              border-color #666

    .conf-withdrawal
      ul
        background $base-content-bg-color

        li
          .success
            color $base-success-color

          .fail
            color $base-error-color
          
          &:not(:last-child)::after
            border-color $base-bg-color-divide

      .group3
        .van-cell
          padding 2px 14px
          .van-cell__value
            span
              color $base-error-color

      .audit-detail
        background $base-content-bg-color
        .van-collapse-item__content
          background $base-content-bg-color
          .no-audit-data
            color $base-disabled-color

        table
          tr
            .success
              color $base-success-color

            .fail
              color $base-error-color

  .withdradal-btns
    background $base-content-bg-color
    .cancel
      color $base-main-color
      border 1px solid $base-main-color

    .confirm
      background $base-main-color
      color #33312B

      &.disabled
        background-color $base-disabled-color
