.recharge-qrcode-container
  .recharge-qrcode-main-container
    background $base-content-bg-color
    .scroller
      .recharge-qrcode-title
        background-color $base-content-bg-color
        color $base-main-font-color
      .recharge-qrcode-main
        background $base-content-bg-color
        .recharge-qrcode-info
          color #7B7C8C
          button.copy
            color $base-link-btn-color
            border-color #666

        .recharge-qrcode-button
          button
            background-color $base-main-color
            color #33312B