.game-recommend-container
  .game-recommend-header
    .game-recommend-header-scroller
      .game-search-container
        background-color #fbfbfb

        .game-search-cancel
          color $base-link-btn-color
