.game-recommend-container
  background-color $base-bg-color
  
  .game-recommend-header
    .game-recommend-header-scroller
      .game-search-container
        background linear-gradient(135deg,rgba(46,43,51,1) 0%,rgba(9,5,18,1) 100%)

        .game-search-cancel
          color $base-link-btn-color
  
  .game-recommend-content
    background-color $base-content-bg-color
    color $base-main-font-color
