.game-search-container
  background-color $base-bg-color

  .game-search-header
    background linear-gradient(135deg,rgba(46,43,51,1) 0%,rgba(9,5,18,1) 100%)

    .game-search-cancel
      color $base-link-btn-color

  .game-recommend-container
    background-color $base-content-bg-color

    .game-recommend-header
      color $base-font-color 
      
  .game-items .game-item
      color $base-main-font-color 