.security-edit
  .container
    .button
      color $base-link-btn-color

    .img
      background-image url('~@/pages/my/pages/security/img/idCard-default.png')

    .submit
      background-color $base-main-color

    .footer
      color #BBBBBB
