.trial
  width 100%
  font-size 14px
  display flex
  flex-direction column

  >>>
    .van-hairline--bottom::after
      display none
      
    .van-cell
      padding-right 0!important

  .container
    overflow-y auto
    flex 1

  .logo
    height 143px
    display flex
    justify-content center
    align-items center

    img
      height 60px

  .group-form
    padding-right 15px

  .trial-btn
    margin-top 47px
    padding 0 15px

  ul.notice
    padding 0 15px
    font-size 12px
    margin-top 15px

    li
      line-height 20px
