$base-font-color = #EEEEEE// 基础字体颜色
$base-bg-color = #1F1F1F // 基础背景颜色
$base-content-bg-color = #313033// 内容块背景颜色
$base-main-color = #F2D68A // 基础主色调
$base-main-font-color = #CCCCCC // 主题字体颜色
$base-success-color = #00BF70 // 成功或金额为正的色调
$base-error-color = #FF4222 // 异常或金额为负的色调
$base-disabled-color = #8C8C8C // 禁用或无数据的色调
$base-bg-color-divide = #3B3B3B // 分割线颜色
$base-link-btn-color = #E6C365 // 链接字体颜色
$base-content-input-bg-color = #3B3B3B// 文本输入框背景颜色
$index-bg-color = #202020 //首页的背景颜色
