.activity
  width 100%
  flex 1
  display flex
  flex-direction column

  .container
    flex 1
    overflow hidden

    .item
      width 100%
      margin-bottom 10px
      background-color #fff

      .content
        color #777
        padding 0 15px 17px
        position relative

        .title
          font-size 16px
          line-height 22px
          font-weight 400
          padding 14px 0 0

        img
          width 345px
          height 145.36px
          border-radius 3px

        .desc
          font-size 12px
          line-height 17px
          padding 0 0 8px 0
          color #BBB
        .apply
          height 32px
          position absolute
          bottom 0
          right 0
          left 0
          background-color rgba(0, 0, 0, 0.45)
          text-align right
          padding-right 10px
          button
            background-color transparent
            border 1px solid #fff
            border-radius 4px
            outline none
            font-size 12px
            line-height 22px
            color #FFF
            padding 0 7px
            height 21px

      >>>
        .van-cell
          border-top 1px solid rgba(227, 227, 227, 0.8)
          padding 8px 15px

          span
            font-size 12px
