.recharge-qrcode-container
  background $base-bg-color

  .recharge-qrcode-main-container
    .scroller
      .recharge-qrcode-title
        background $base-bg-color-content

      .recharge-qrcode-main
        .recharge-qrcode-info

          button.copy
            border-color $base-text-color-assistant
            color $base-text-color-assistant

        .recharge-qrcode-button
          button
            color #000
            background $base-bg-color-indicator

        .recharge-qrcode-scan-steps
          color $base-text-color-content-sub