.exchange-dialog
  .dialog-header
    color #000000

  .dialog-body
    color #8E8E8E

    .item
      .value
        .red
          color #FF4222

        .recycl-btn
          color $base-link-btn-color
          border-color #DDDDDD

        .field
          border-color #E1E2E6
          background-color #F6F7F8

    .fast
      .btn
        color #8E8E8E
        border-color #ECEDED

        &.blue
          background-color #F2D68A
          color #33312B
          border 0

  .dialog-footer
    border-color #DDDDDD

    .btn
      border 1px solid #FFCC42
      color #FFCC42

      &.blue
        background-color $base-main-color
        color #33312B!important