.select-avater
  background-color #313033
  .top
    span
      color #777777
      &.right
        color #F2D68A
    &:after
      border-color #3B3B3B

  .scoller
    .select
      .select-item
        &.active
          background-color  #1F1F1F