.van-tabbar.tabbar
  background-color #1D1C1F
  box-shadow 0 0 8px rgba(0, 0, 0, 0.08)
  &:after
    border-color #1D1C1F

  .label
    color #807760

    &.active
      color $base-main-color

  .van-tabbar-item__icon
    margin-bottom 1px

  .iconfont
    font-size 30px
    color #807760
    
    &.active
      color $base-main-color