.security-edit
  .container
    .button
      color $base-text-color-assistant

    .img
      background-image url('~@/pages/my/pages/security/img/idCard-egame.png')

    .submit
      background-color $base-main-color

    .footer
      color $base-text-color-content-sub
