$base-font-color = #000 // 基础字体颜色
$base-bg-color = #f5f5f5 // 基础背景颜色
$base-content-bg-color = #fff // 内容块背景颜色
$base-main-color = #5F51D2 // 基础主色调
$base-main-font-color = #6C65FF // 主题字体颜色
$base-success-color = #00BF70 // 成功或金额为正的色调
$base-error-color = #FF4222 // 异常或金额为负的色调
$base-disabled-color = #BBBBBB // 禁用或无数据的色调
$base-bg-color-divide = #E6E6E6 // 分割线颜色
