.add-bank-card-container
  width 100%
  flex 1
  display flex
  flex-direction column

  .add-bank-card-main-container
    flex 1
    overflow-y auto
    overflow-x hidden

    .add-bank-card-button-container
      padding 20px 15px 15px

    .add-bank-card-tips-container
      padding 0 20px 0 16px
      font-size 12px
      line-height 18px

