.security-edit
  .container
    .button
      color #BBBBBB

    .img
      background-image url('~@/pages/my/pages/security/img/idCard-card.png')

    .submit
      background-color $base-main-color

    .footer
      color #BBBBBB