@import './components/online.styl'
@import './components/offline.styl'
@import './components/qrcode.styl'

.recharge-container
  background-color $base-bg-color

  .van-nav-bar .van-nav-bar__right .van-nav-bar__text
    color $base-text-color-assistant

  .recharge-main-container

    .empty
      .iconfont
        color $base-text-color-input

      p
        color $base-text-color-content-sub

    .van-tabs__nav
      .van-tab
        background $base-bg-color-nav
