.game-recommend-container
  .game-recommend-header
    .game-recommend-header-scroller
      .game-search-container
        background-color #F6F6F8

        .game-search-icon
          color $base-disabled-color

        .game-search-cancel
          color $base-disabled-color
