.game-search-container
  .game-search-header
    background-color #F6F6F8

    .game-search-icon
      color $base-disabled-color

    .game-search-cancel
      color $base-disabled-color

  .game-items
    color #8e8e8e
