.recharge-online-container
  color #777

  .recharge-online-main
    .payment-method-container
      .payment-method-list
        .payment-method-item

          &.active
            color #FFF
            border-color #9D70FF
            background-color #9D70FF

    .deposit-money-container
      .deposit-money-list
        .deposit-money-item

          &.active
            color #FFF
            border-color #9D70FF
            background-color #9D70FF

    .deposit-money-input
      input
        background-color #F8F8F8
        border-color #E6E6E6

    .recharge-tips
      font-size 12px
      line-height 17px
      color $base-disabled-color

  .recharge-online-footer
    .recharge-online-summary .red
      color #FF4222

    button
      background-color $base-main-color

      &.disabled
        background-color $base-disabled-color