.bank-card-container
  .van-nav-bar
    background-color #ffffff
    
    &.active-bar
      background-color #F6F6F8

  .bank-card-main-container
    .bank-card-item
      .arrow
        color #CFCFCF

    .bank-card-button-container
      .van-button--primary
        background-color $base-main-font-color
        border-color $base-main-font-color

    .bank-card-tips-container
      color #BBBBBB