.deposit-container
  .header-right .iconfont
    color #9D70FF
  .deposit-main-container
    background-color $base-bg-color
    .scroller
      .deposit-data-item
        background-color #ffffff
        .item-label
          color #777777
        .item-value
          color #8E8E8E

    .menu-container
      .menu-list
        .menu-item
          color #8E8E8E

          &.active
            color #FFF
            background-color #9D70FF

        .date-list
          .date-item
            background-color #F6F7F8
            color #777

            &.active
              color $base-disabled-color

        .btn-item
          .btn
            border 1px solid $base-main-color
            color $base-main-font-color

            &.query
              background-color $base-main-color
              color #FFF
