.effective-orders-container
  .header-right .iconfont
    color #9D70FF
  .effective-orders-main-container
    .effective-orders-table-container
      table
        tbody tr td .cell
          &.red
            color $base-error-color
          &.green
            color $base-success-color

    .menu-container
      .menu-list
        .menu-item
          color #8E8E8E

          &.active
            color #FFF
            background-color #9D70FF

        .date-list
          .date-item
            background-color #F6F7F8
            color #777

            &.active
              color $base-disabled-color

        .btn-item
          .btn
            border 1px solid $base-main-color
            color $base-main-font-color

            &.query
              background-color $base-main-color
              color #FFF
