.exchange
  .container
    background-color $base-bg-color

    .money
      border-color #E6E6E6
  
      &.van-cell .van-cell__title
        color #cfcfcf
        
    .refrash
      color #6C65FF

    .btn
      color #9D70FF

    span.refresh
      border 1px solid $base-main-color
      .fff
        background $base-main-color
