.register-container
  background $base-bg-color
  color $base-font-color

  .group-register
    .van-field__button
      button
        color #BBBBBB

  .agree-provision
    .provision
      color #868686

    .van-checkbox
      .van-checkbox__icon
        .icon-hc-tick
          &.normal
            color  #BBBBBB

          &.active
            color #E71242

  .go-to-login
    color #777777

    span
      &:nth-child(2)
        color $base-main-font-color
