$base-font-color = #000 // 基础字体颜色
$base-bg-color = #f6f6f6 // 基础背景颜色
$base-content-bg-color = #fff // 内容块背景颜色
$base-main-color = #3982EF // 基础主色调
$base-main-font-color = #0B82F7 // 主题字体颜色
$base-success-color = #6EB71A // 成功或金额为正的色调
$base-error-color = #F25D5D // 异常或金额为负的色调
$base-disabled-color = #BBBBBB // 禁用或无数据的色调
$base-bg-color-divide = #E6E6E6 // 分割线颜色
$base-header-bg-color = #FBFBFB // 页头颜色
$base-link-btn-color = #F9A43A // 链接字体颜色