$agree-clor = #BBBBBB // 同意条款字体颜色

.register-container
  width 100%
  font-size 14px

  .container
    position absolute
    left 0
    top 1.226667rem
    right 0
    bottom 0
    overflow hidden

  .group-register
    .code
      height 24px

      img
        height 100%
        display block !important

    >>>
      .van-field__button
        button
          height 24px
          line-height 24px
          border 0
          font-size 14px
          background none

  .agree-provision
    padding 0 15px
    display flex
    color $agree-clor
    margin-top 14px
    margin-bottom 17px
    font-size 14px

    .provision
      line-height 19px

    >>>
      .van-checkbox
        .van-checkbox__icon
          .icon-hc-tick
            font-size 12px

        .van-checkbox__label
          margin-left 6px

  .go-to-login
    padding 0 15px 87px
    margin-top 20px
    text-align right

  .register-btn
    padding 0 10px
