.exchange-dialog
  .dialog-header
    color #000000

  .dialog-body
    color #8E8E8E

    .item
      .value
        .red
          color #FF4222

        .recycl-btn
          color #9D70FF
          border-color #DDDDDD

        .field
          border-color #E1E2E6
          background-color #F6F7F8

    .fast
      .btn
        color #8E8E8E
        border-color #ECEDED

        &.blue
          background-color #9D70FF
          color #ffffff

  .dialog-footer
    border-color #DDDDDD

    .btn
      border-color #6C65FF
      color #6C65FF

      &.blue
        background-color $base-main-color