.notice-container
  background-color transparent
  padding 0 15px

  .notice-content
    border-bottom 1px solid #EEE
    height 100%

    .iconfont
      color $base-main-color

    .notice-box
      .notice-scroller
        color #555