.tabbar
  background-color $base-content-bg-color
  border-top-color $base-content-bg-color

  .label
    color #999

    &.active
      color $base-main-color

  .van-tabbar-item
    padding-top 3px

    .van-tabbar-item__icon
      margin-bottom 3px

  .iconfont
    &.active
      color $base-main-color