.exchange-dialog
  .dialog-header
    color #000000

  .dialog-body
    color #8E8E8E

    .item
      .value
        .red
          color $base-text-color-error

        .recycl-btn
          color $base-text-color-assistant
          border-color $base-text-color-assistant

        .field
          border-color #E1E2E6
          background-color #F6F7F8

    .fast
      .btn
        color #8E8E8E
        border-color #ECEDED

        &.blue
          background-color $base-bg-color-indicator
          color #000
          border 0

  .dialog-footer
    border-color #DDDDDD

    .btn
      border 1px solid $base-text-color-button-cancle
      color $base-text-color-button-cancle

      &.blue
        background-color $base-bg-color-indicator
        color #000 !important