.notice-container
  background-color rgba(0, 0, 0, 0.4)
  padding 0 15px

  .notice-content
    height 100%
    color #fff
    .iconfont
      font-size 12px

  .notice-detail
    background-color $base-bg-color-content
    .html
      color $base-text-color-content-main