.select-avater
  .top
    background-color #1E1734
    span
      color #7B7C8C
      &.right
        color #61AAFF
    &:after
      border-color #110D1E

  .scoller
    background-color  #1E1734
    .select
      .select-item
        &.active
          background-color  #17122C