.bank-card-container
  .bank-card-main-container
    background $base-bg-color
    .bank-card-item
      .arrow
        color $base-text-color-content-sub
        
    .bank-card-item
      background $base-bg-color-content
      border-color $base-bg-color-divide
      color $base-text-color-title

    .bank-card-tips-container
      color $base-text-color-content-sub