.exchange
  .container
    background-color $base-bg-color

    .money
      border-color $base-bg-color-divide 

      &.van-cell .van-cell__title
        color #7B7C8C!important

    .refrash
      color $base-bg-color-indicator          

    .btn
      color $base-text-color-assistant
      border-color $base-text-color-assistant

    span.refresh
      border 1px solid $base-bg-color-indicator
      .fff
        background $base-bg-color-indicator