.find-password
  background $base-bg-color

  .container
    background $base-bg-color

    .group
      background $base-bg-color-content

      &:after
        border-color $base-bg-color-divide

      .van-cell
        background $base-bg-color-content
        color $base-text-color-title

        input
          color $base-text-color-content-main

        &:not(:last-child)::after
          border-color $base-bg-color-divide