.help-center-container
  background $base-bg-color
  // .container
  //   [class*=van-hairline]::after
  //     border-color $base-bg-color-content
  //   .scroller
  //     .van-cell
  //       background-color $base-bg-color-content
  //       .van-cell__title
  //         color $base-text-color-title
  //       .van-icon
  //         color $base-text-color-content-sub
  //     .van-tabs__wrap
  //       .van-tabs__nav
  //         background-color $base-bg-color-nav
  //         .van-tab
  //           background-color transparent
