.login
  background $base-bg-color-content

  .logo
    background none

  .van-nav-bar
    background none

  .login-tabs
    .van-tabs__nav
      background none
      border-color $base-bg-color-divide
    .van-tab__pane
      .group-form
        .van-field__button
          button
            color $base-text-color-assistant

    .remmber-forget
      color $base-text-color-title

      .van-checkbox
        color $base-text-color-content-sub

        .van-checkbox__icon
          .icon-hc-tick
            &.normal
              color  #BBBBBB

            &.active
              color #3982ef

  .freeplay-register
    color $base-text-color-title

    span
      &:nth-child(2)
        color $base-text-color-assistant

    .register
      background none
      color $base-text-color-title

      span:nth-child(2)
        color $base-disabled-color

  .steam-login
    span
      color $base-text-color-content-sub
