.orders-container
  .header-right
    color $base-text-color-assistant
  .orders-main-container
    background $base-bg-color
    .orders-summary-container
      background $base-bg-color-content
      .orders-summary-item
        &:not(:last-child)
          border-right-color $base-bg-color-divide
        .item-label
          color $base-text-color-title
        .item-val
          color $base-text-color-title
          &.red
            color $base-text-color-error

          &.green
            color $base-text-color-success

    .orders-data-container
      .orders-data-list
        .van-collapse
          .van-collapse-item
            &.win
              .van-cell__value
                color $base-text-color-success !important
            .van-cell
              background $base-bg-color-content
              .van-cell__title
                .item-name
                  color $base-text-color-title
                .item-dd
                  color $base-text-color-content-sub
              .van-cell__value
                color $base-text-color-content-sub
              &:not(:last-child)::after
                border-color $base-bg-color-divide
            &:after
              border-color $base-bg-color-divide
          &:after
            border-color $base-bg-color-divide
          .van-collapse-item__content
            background $base-bg-color
            color $base-text-color-content-main

    .menu-container
      .menu-list
        background $base-bg-color-content
        .menu-item
          background $base-bg-color-input
          color $base-text-color-content-sub
          border none
          &.active
            background-color $base-bg-color-indicator
            color #000

        .date-list
          background $base-bg-color-input
          .date-item
            background-color $base-bg-color
            color $base-text-color-content-sub

            &.active
              color $base-text-color-assistant

        .btn-item
          .btn
            border 1px solid $base-bg-color-indicator
            color $base-bg-color-indicator
            background $base-bg-color-content

            &.query
              border none
              background linear-gradient(180deg, $base-bg-color-button-start 0%, $base-bg-color-button-end 100%)
              color #333