.register-container
  background $base-bg-color
  color $base-font-color

  .group-register
    .van-field__button
      button
        color $base-text-color-assistant

  .agree-provision
    .van-checkbox .van-checkbox__label
      color #7B7C8C

    .provision
      color $base-text-color-assistant

    .van-checkbox
      .van-checkbox__icon
        .icon-hc-tick
          &.normal
            color  #BBBBBB

          &.active
            color #3982ef

  .go-to-login
    span
      color #E0DEFC

      &:nth-child(2)
        color $base-text-color-assistant