.recharge-online-container
  .recharge-online-main
    .payment-method-container
      .payment-method-list
        .payment-method-item

          &.active
            color #ffffff
            border-color $base-main-color
            background-color $base-main-color

    .deposit-money-container
      .deposit-money-list
        .deposit-money-item

          &.active
            color #ffffff
            border-color $base-main-color
            background-color $base-main-color

    .deposit-money-input
      input
        &:focus
          background-color $base-bg-color
          border-color $base-main-color

  .recharge-online-footer
    button
      background-color $base-main-color

      &.disabled
        background-color $base-disabled-color