.recharge-qrcode-container
  .recharge-qrcode-main-container
    .scroller
      .recharge-qrcode-main
        .recharge-qrcode-info

          button.copy
            color $base-link-btn-color

        .recharge-qrcode-button
          button
            background-color $base-main-color