.add-bank-card-container
  .add-bank-card-main-container
    .add-bank-card-button-container
      .van-button--primary
        background-color $base-main-color
        border-color $base-main-color
        
    .add-bank-card-tips-container
      color #BBBBBB
