.bank-card-container
  .van-nav-bar
    background-color #fbfbfb

    &.active-bar
      background-color $base-header-bg-color

  .bank-card-main-container
    .bank-card-item
      .arrow
        color #CFCFCF

    .bank-card-button-container
      .van-button--primary
        background-color $base-main-color
        border-color $base-main-color

    .bank-card-tips-container
      color #BBBBBB