.deposit-container
  .header-right
    color $base-link-btn-color
  .deposit-main-container
    background-color $base-bg-color
    .scroller
      .deposit-data-item
        background-color #ffffff
        .item-label
          color #777777
        .item-value
          color #8E8E8E

    .menu-container
      .menu-list
        .menu-item
          &.active
            background-color $base-main-color

        .date-list
          .date-item
            background-color $base-bg-color

            &.active
              color $base-main-font-color

        .btn-item
          .btn
            border 1px solid $base-main-color
            color $base-main-font-color

            &.query
              background-color $base-main-color
              color #FFF
