.effective-orders-container
  .header-right
    color $base-link-btn-color
  .effective-orders-main-container
    .effective-orders-table-container
      table
        tbody tr td .cell
          &.red
            color $base-error-color

          &.green
            color $base-success-color

    .menu-container
      .menu-list
        .menu-item
          &.active
            background-color $base-main-color

        .date-list
          .date-item
            background-color $base-bg-color

            &.active
              color $base-main-font-color

        .btn-item
          .btn
            border 1px solid $base-main-color
            color $base-main-font-color

            &.query
              background-color $base-main-color
              color #FFF
