.exchange
  .container
    background-color $base-bg-color

    .money
      border-color #E6E6E6
      
      &.van-cell .van-cell__title
        color #CFCFCF

    .refrash
      color #3982EF

    .btn
      color $base-link-btn-color

    span.refresh
      border 1px solid $base-main-color
      .fff
        background $base-main-color
