.login
  background $base-content-bg-color
  color $base-font-color

  .navbar
    background-color $base-content-bg-color

  .login-tabs
    .van-tabs__nav
      border-color $base-bg-color-divide

    .van-tab__pane
      .group-form
        .van-field__button
          button
            color $base-link-btn-color

    .remmber-forget
      .van-checkbox
        .van-checkbox__icon
          .icon-hc-tick
            &.normal
              color  #BBBBBB

            &.active
              color #6AB2F6

    .remmber-forget, .register
      color #777777

  .freeplay-register
    color #777

    span
      &:nth-child(2)
        color $base-link-btn-color

  .steam-login
    span
      color #CFCFCF
