.register-container
  background $base-bg-color
  color $base-font-color

  .group-register
    .van-field__button
      button
        color $base-link-btn-color

  .agree-provision
    .van-checkbox .van-checkbox__label
      color #bbbbbb

    .provision
      color #4A90E2

    .van-checkbox
      .van-checkbox__icon
        .icon-hc-tick
          &.normal
            color  #BBBBBB

          &.active
            color #6AB2F6

  .go-to-login
    span
      color #777

      &:nth-child(2)
        color $base-link-btn-color
