.exchange
  width 100%
  flex 1
  display flex
  flex-direction column

  .container
    flex 1
    position absolute
    left 0
    top 1.226667rem
    right 0
    bottom 0
    overflow hidden

    .btn
      border 1px solid #ddd
      display inline-block
      height 25px
      line-height 25px
      border-radius 14px
      text-align center
      font-size 12px
      background none

    >>>
      .van-cell
        font-size 14px

    .money
      font-size 14px
      padding-top 10px !important
      padding-bottom 10px !important
      border-bottom 1px solid

      &::after
        display none

      &.title
        margin-top 20px

    .refrash
      margin-left 5px
      font-size 13px

    .balance
      margin-right 4px

    span.refresh
      width 20px
      height 20px
      display block
      border-radius 50%
      position relative

      .fff
        position absolute
        left 0px
        top 0px
        width 6px
        height 6px
        border-radius 50%

      &.rotate
        pointer-events none
        animation loading 0.8s ease-out infinite

    .submit
      padding 20px 15px 0

@keyframes loading
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)
